
  .team{
    display: flex;
    margin: 0%;
    padding-bottom: 30vh;
    margin-top: 30%;
  }


.Title{
  position:absolute;
  top: 16%;
  left: 40%;
  background-attachment: fixed;
  font-style: italic;
  font-size: 60px;
  font-weight: bold;
  color: var(--medium-green);

}

.Description{
  position:absolute;
  top: 30%;
  left: 7%;
  background-attachment: fixed;
  font-style: italic;
  font-size: 30px;
  color: var(--medium-green);
}