
  .team{
    display: flex;
    margin: 0%;
    /* margin-left:2rem ;
    margin-right:2rem ; */
    padding-bottom: 30vh;
    /* margin-bottom: 80vh; */
    margin-top: 20%;
  }

  /* .text{
    text-align: center;
    font-style: italic;
  } 

.childTeam{
    padding-left: 2rem;

}

.back{
    position:absolute;
    top: 8%;
    left: 0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

} */

.ARE{
  position:absolute;
  top: 26%;
  left: 40%;
  /* background-position: center; */
  background-attachment: fixed;
  /* text-align: center; */
  font-style: italic;
  font-size: 60px;
  font-weight: bold;
  color: #72ab38;

}
