/* CustomButtons.module.css */

.button {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  height: 40px;
  font-size: large;
  padding: 8px;
  transition: background-color 0.3s, transform 0.3s;
  margin-top: 10px;
  background-color: var(--light-green);
  cursor: pointer;
}

.button:hover {
  background-color: var(--medium-green);
}

.secondary-button {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  height: 40px;
  font-size: large;
  padding: 8px;
  transition: background-color 0.3s, transform 0.3s;
  margin-top: 10px;
  background-color: var(--light-gray);
  color: var(--dark-gray);
  cursor: pointer;
}

.secondary-button:hover {
  background-color: var(--accent-orange);
}

/* Ripple Effect Styles */
.ripple {
  position: absolute;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.3);
  transform: scale(0);
  animation: ripple-animation 0.6s linear;
}

@keyframes ripple-animation {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

.secondary-button .ripple {
  background: rgba(0, 0, 0, 0.2);
}

/* Disabled Secondary Button Styles */
.disabled-secondary-button {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  height: 40px;
  font-size: large;
  padding: 8px;
  transition: background-color 0.3s, transform 0.3s;
  margin-top: 10px;
  background-color: var(--medium-gray); 
  color: var(--text-color);
  cursor: not-allowed; 
  opacity: 0.6; 
}

.disabled-button {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  height: 40px;
  font-size: large;
  padding: 8px;
  transition: background-color 0.3s, transform 0.3s;
  margin-top: 10px;
  background-color: var(--light-green); /* Gray background */
  color: var(--text-color); /* Lighter gray text */
  cursor: not-allowed; /* Disabled cursor */
  opacity: 0.6; /* Slightly transparent */
}

.disabled-secondary-button:hover {
  background-color: var(--medium-gray); /* No change on hover */
  color: var(--light-gray); /* No change on hover */
}
