.detailsPanel {
  display: flex;
  flex-direction: column;
  gap: 2rem; /* Optional: Add space between the rows */
}

.row {
  display: flex;
  /* gap: 2rem; Optional: Add space between the cards */
  margin-left: 10%;
}

.cardContainer {
  flex: 1;
  /* color: rgb(11, 119, 54); */
}

.row2{
  display: flex;
  gap: 2rem; /* Optional: Add space between the cards */
  margin-left: 23%;

}

.reco{
  margin-left: 43%;
}

.specificStyles{
  background-color: 'red',
  
}