body {
  padding: 80px 0 0;
}

.navbarenglish {
  background: linear-gradient(to bottom left, var(--primary-color) 0%, var(--dark-green) 100%);
  border-bottom-left-radius: 50px;
  overflow: hidden;
  width: 80%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  justify-content: space-between;
}

.navbarhebrew {
  background: linear-gradient(to bottom left, var(--primary-color) 0%, var(--dark-green) 100%);
  border-bottom-right-radius: 50px;
  overflow: hidden;
  width: 83%;
  position: fixed;
  top: 0;
  left: 0;
  /* z-index: 1000; */
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  justify-content: space-between;
}

.userDetailsBarenglish {
  width: 20%;
  position: fixed;
  top: 0;
  left: 0;
  border-bottom-right-radius: 20px;

  z-index: 1000;
  background-color: var(--extra-white-transparent);
}

.userDetailsBarhebrew {
  /* height: 105px; */
  width: 17%;
  position: fixed;
  top: 0;
  right: 0;
  border-bottom-left-radius: 20px;
  z-index: 1000;
  background-color: var(--extra-white-transparent);
}

/* .navbar img {
  width: 220px;
  height: auto;
  padding-top: 4px;
} */

.navbarhebrew img {
  width: 220px;
  height: auto;
  padding-top: 4px;
  left: 0;
}

.navbarenglish img {
  width: 220px;
  height: auto;
  padding-top: 4px;
  left: 0;
}
/* .langSwitch {
  margin-right: auto;
} */

.container {
  /* display: flex;
  align-items: center; */
   display: flex; 
  justify-content: space-between;
  align-items: center;
  /* background: linear-gradient(to bottom left, var(--primary-color) 0%, var(--dark-green) 100%); */
   /* border-bottom-right-radius: 50px; */
  overflow: hidden; 
   /* width: 100%; */
  position: fixed;
  top: 0;
  right: 0;
  /* font-family: 'Segoe UI', sans-serif; */
  padding: 0 20px; 

}

.list {
  display: flex;
  gap: 1rem; /*Adjusted gap to make space between buttons smaller*/
  list-style: none;
  padding: 15px;
  padding-left: 40px;
  color: var(--dark-green);
  text-align: center;
}

.active {
  color: var(--dark-orange);
  background-color: var(--extra-white);
  border-radius: 20px;
  text-decoration: none;
  display: inline-block;
  width: 150px; /* Adjusted width */
}

.inactive {
  color: var(--extra-white);
  text-decoration: none;
  width: 150px; /* Adjusted width */
}

.list li {
  border-radius: 20px;
  padding: 8px;
  display: inline-block;
}

.list li:hover {
  color: var(--dark-orange);
  background-color: var(--extra-white-transparent);
  text-decoration: none;
  padding: 8px;
  width: 150px; /* Adjusted width */
  transition: background-color 0.6s ease;
}

.langSwitch, .logoContainer {
  /* order: 2; Default order for English
   */
   display: flex;
  /* align-items: center; */
}


