.name{
    padding-left: 3rem;
}

.icons{
    padding-left: 1rem;

}

.child{
    border-style: outset;
    /* border-width: 6px; */
    border-left-width: 1rem;
    border-right-width: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    background: hsla(0, 25%, 98%, 0.851);
  }