
.formControl {
  display: flex;
  gap: 5rem; 
}

.leftCol {
  display: flex;
  flex-direction: column;
  gap: 1rem; 
  flex: 1; 
  margin-top: 0px;
}

.rightCol {
  flex: 3; 
  display: flex;
  justify-content: center; 
  align-items: flex-start; 
  /* flexWrap: 'wrap'; */
}


